* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-body: #121214;
  --default-btn: 20;
  --bnt-primary: hsl(var(--default-btn), 100%, 63%);
  --bg-controls: hsla(var(--default-btn), 100%, 63%, 0.13);
  --text: #ffffff;
  --ff-content: "Roboto", sans-serif;
  font-size: 62.5%;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.hide {
  display: none;
}

img {
  width: 6.4rem;
  height: 6.4rem;
}

body {
  background-color: var(--bg-body);
  font-family: var(--ff-content);
  color: var(--text);
  height: 100vh;
  display: flex;
  align-items: center;
}

main {
  margin: 0 auto;
}

.timer {
  font-size: 8.8rem;
  line-height: 10.3rem;
  margin-bottom: 1.6rem;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
  background-color: var(--bg-controls);

  padding: 2.2rem 4rem;
  border-radius: 9999px;
}

.play svg path,
.pause svg path,
.sound-on svg path {
  fill: var(--bnt-primary);
}

footer {
  position: absolute;
  bottom: 4rem;
  right: 4rem;
}
